.footer {
    margin-top: 183px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 18px;
    line-height: 21px;
}


.contact {
    display: flex;
    margin-top: 43px;
    li {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.footer__text {
    margin-top: 28px;
    
    /* identical to box height */


    color: #808080;

}

.footer__contact-us {
    width: 260px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 131px;
    /* identical to box height */

    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
}