body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    color: white;
}
ul,ol,li,a{margin: 0;padding: 0;list-style: none; text-decoration: none; color: inherit;}


._container {
    max-width: 1200px;
    margin: 0 auto;
}

@import 'nav';
@import 'preview';
@import 'main';
@import 'footer';